<div class="flex justify-center my-2">
<% flash.each do |name, msg| -%>
    <div class=" text-center w-70 py-3 pl-4 pr-10 leading-normal text-gray-700 shadow-md rounded-lg" role="alert">
        <%= content_tag :div, msg, class: name %> 
    </div>
    <% end -%>
    </div>