<section class="skewed-bottom-right">
 
  <div class="bg-gray-50 pt-12 lg:pt-20 pb-20 radius-for-skewed">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap -mx-4">
        <div class="w-full lg:w-1/2 px-4 mb-12 md:mb-20 lg:mb-0 flex items-center">
          <div class="w-full text-center lg:text-left">
            <div class="max-w-md mx-auto lg:mx-0">
              <h2 class="mb-3 text-4xl lg:text-5xl font-bold font-heading">
                <span>Welcome to</span>
                <span class="text-pink-600">PetHouse</span>
              </h2>
            </div>
            <div class="max-w-sm mx-auto lg:mx-0">
              <p class="mb-6 text-gray-400 leading-loose">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque efficitur nisl sodales egestas lobortis.</p>
              
           
              <% if !user_signed_in? %>
              <a class="inline-block mb-3 lg:mb-0 lg:mr-3 w-full lg:w-auto py-2 px-6 leading-loose bg-pink-800 hover:bg-pink-700 text-white font-semibold rounded-l-xl rounded-t-xl transition duration-200" href="/users/sign_up">Get Started</a>
              <a class="inline-block w-full lg:w-auto py-2 px-6 leading-loose font-semibold bg-white hover:bg-gray-50 rounded-l-xl rounded-t-xl transition duration-200" href="/users/sign_in">Log in</a>
              <%end%>
              </div>

       
          </div>
        </div>
        <div class="w-full lg:w-1/2 px-4 flex items-center justify-center">
          <div class="relative" style="z-index: 0;">
            <%= image_tag("pets.jpg", class: "h-128 w-full max-w-lg object-cover bg-white rounded-3xl md:rounded-br-none") %>
            <img class="hidden md:block absolute" style="top:-2rem; right: 3rem; z-index: -1;" src="atis-assets/elements/green-dark-up.svg" alt="">
            <img class="hidden md:block absolute" style="bottom:-2rem; right: -2rem; z-index: -1;" src="atis-assets/elements/wing-green-down.svg" alt="">
            <img class="hidden md:block absolute" style="top:3rem; right: -3rem; z-index: -1;" src="atis-assets/elements/bullets-gray-right.svg" alt="">
            <img class="hidden md:block absolute" style="bottom:2.5rem; left: -4.5rem; z-index: -1;" src="atis-assets/elements/bullets-gray-left.svg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mr-for-radius">
    <svg class="h-8 md:h-12 lg:h-20 w-full bg-pink-600 text-gray-50" viewBox="0 0 10 10" preserveAspectRatio="none">
      <polygon fill="currentColor" points="0 0 10 0 0 10"></polygon>
    </svg>
  </div>
 
</section>