<section class="py-24 bg-gray-100">
  <div class="container px-4 mx-auto">
    <div class="flex flex-wrap items-center -mx-4">
      <div class="w-full lg:w-1/2 px-4 pb-12 lg:pb-0">
        <div class="max-w-md">
          <h2 class="mb-8 text-4xl font-bold font-heading text-pink-600">Our services</h2>
          <div class="flex items-start mb-8">
            <div class="mr-4">
              <svg class="text-blue-500 h-6 w-6" viewBox="0 0 26 21" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.8075 15.5254L23.3675 0.965393L26 3.59789L8.8075 20.8229L0 12.0479L2.665 9.38289L8.8075 15.5254Z"></path>
              </svg>
            </div>
            <div>
              <h3 class="mb-2 text-lg font-semibold font-heading text-blue-800">CONSULTATION</h3>
              <p class="text-base text-gray-500 leading-loose">Etiam pellentesque non nibh non pulvinar. Mauris posuere, tellus sit amet tempus vestibulum.</p>
            </div>
          </div>
          <div class="flex items-start mb-8">
            <div class="mr-4">
              <svg class="text-blue-500 h-6 w-6" viewBox="0 0 26 21" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.8075 15.5254L23.3675 0.965393L26 3.59789L8.8075 20.8229L0 12.0479L2.665 9.38289L8.8075 15.5254Z"></path>
              </svg>
            </div>
            <div>
              <h3 class="mb-2 text-lg font-semibold font-heading text-blue-800">ANNUAL GENERAL CHECK-UP</h3>
              <p class="text-base text-gray-500 leading-loose">Etiam pellentesque non nibh non pulvinar. Mauris posuere, tellus sit amet tempus vestibulum.</p>
            </div>
          </div>
          <div class="flex items-start">
            <div class="mr-4">
              <svg class="text-blue-500 h-6 w-6" viewBox="0 0 26 21" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.8075 15.5254L23.3675 0.965393L26 3.59789L8.8075 20.8229L0 12.0479L2.665 9.38289L8.8075 15.5254Z"></path>
              </svg>
            </div>
            <div>
              <h3 class="mb-2 text-lg font-semibold font-heading text-blue-800">APPOINTMENTS</h3>
              <p class="text-base text-gray-500 leading-loose">Etiam pellentesque non nibh non pulvinar. Mauris posuere, tellus sit amet tempus vestibulum.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full lg:w-1/2 px-4">
        <%= image_tag("image.jpg", class: "w-full -112 object-cover lg:clip-path-left-top") %>

        </div>
    </div>
  </div>
</section>